<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas 3 | Arkademy Bali Travel</title>
    <link rel="stylesheet" href="../assets/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <!-- System Grid Bootstrap
digunakan untuk mengatur tampilan sesuai dengan ukuran layar dari perangkat yang digunakan dengan mudah dan cepat.
contoh : .col-lg-*, .col-md-*, .col-sm-*. Saya sudah menerapkannya di setiap bagian body -->
</head>

<body id="body1">
    <div class="container">
        <img src="../assets/images/IconBali.png" alt="IconBali" class="center" id="logo">
        <h1 class="white title" id="index">A Better way to<br><span class="orange">Travel to Bali</span></h1>
        <h6 id="subtitle" class="white">Cheapest and Easier</h6>
        <div class="text-center" id="button">
            <a href="about.html" class="btn btn-outline-orange" id="button1">About Us</a>
            <a href="reservation.html" class="btn btn-outline-orange" id="button2">Reservation</a>
        </div>
    </div>
</body>

</html>